html, body { height: 100%; }

body {
	font-family: 'Avenir Next', serif;
	margin: 0;
	background-color: #ababac;
}

header {
	background-color: #1C1D1D;
	color: #F2F2F0;
	padding: 25px;
	font-size: 24px;
}

div.vertical-narrative {
	position: absolute;
	width: 600px;
}

div.horizontal-context {
	position: absolute;
	width: 600px;
	left: 800px;
}

section.narrative-section {
	background-color: #f3f3f2;
	// background-color: #C7C4C1;

	float: left;
	display: inline-block;
	background-color: white;
	width: 530px;
	margin-left: 20px;
	border-radius: 3px;
	padding: 15px;
	margin-bottom: 20px;

	div.title, div.content {
		pointer-events: none;
	}

	div.size-icons {
		height: 0;
		position: relative;

		div.size-icon {
			float: right;
			margin-top: -15px;
			margin-right: -10px;
			cursor: pointer;
			&.hidden {
				display: none;
			}
		}
	}
}


// article.narrative-sections {
// 	padding-top: 15px;
// 	width: 600px;
// }

// div.background-strip {
// 	position: absolute;
// 	width: 600px;
// 	left: 50%;
// 	margin-left: -300px;
// 	background-color: #dbdbda;
// 	height: 100%;
// 	z-index: -1;
// }

// section.narrative-section {
// 	float: left;
// 	display: inline-block;
// 	background-color: white;
// 	width: 530px;
// 	margin-left: 20px;
// 	border-radius: 3px;
// 	padding: 15px;
// 	margin-bottom: 20px;

// 	opacity: 0.5;

// 	&.center {
// 		opacity: 1.0;
// 	}

// 	div.size-icons {
// 		height: 0;
// 		position: relative;

// 		div.size-icon {
// 			float: right;
// 			margin-top: -15px;
// 			margin-right: -10px;
// 			cursor: pointer;
// 			&.hidden {
// 				display: none;
// 			}
// 		}
// 	}

// 	div.title {
// 		text-align: center;
// 	}

// 	div.content {
// 		height: 100%;
// 		margin-top: 10px;
// 		height: 150px;
// 		overflow-y: scroll;
// 		&.minimized {
// 			height: 0;
// 			display: none;
// 		}
// 	}

// 	div.connector {
// 		width: 10px;
// 		background-color: white;
// 		margin: 0 auto;
// 	}
// }