*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body { height: 100%; }

body {
	font-family: 'Avenir Next', serif;
	margin: 0;
	overflow-x: hidden;
	background-color: #ababac;
}

header {
	background-color: #1C1D1D;
	color: #F2F2F0;
	padding: 25px;
	font-size: 24px;
	position: fixed;
	width: 100%;
	height: 80px;
	z-index: 10000;

	-webkit-box-shadow: 0 0 15px 15px #ababac !important;
	-moz-box-shadow: 0 0 15px 15px #ababac !important;
	box-shadow: 0 0 15px 15px #ababac !important;

	div.title {
		max-width: 1250px;
	}

	div.logo {
		width: 93px;
		height: 52px;
		position: relative;
		float: right;
		top: -42px;

	}
}



div.connector {
	width: 100%;
	z-index: -1;
	position: fixed;
	top: 40%;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: white;
}

article.content {
	padding-top: 80px;
	margin: 0 auto;
	margin-bottom: 15px;

	p {
		margin-top: 15px;
	}

	img {
		margin-top: 15px;
		margin-bottom: 15px;
		width: 100%;
		display: block;
	}
}

div.vertical-narrative {
	position: absolute;
	top: 40%;
	margin-top: -125px;
	z-index: 10;
	left: 17.96875%;  // 230 / 1280
	float: left;
	width: 37.5%;

	div.spacer {
		height: 350px;
		clear: both;
	}

	section.narrative-section {
		width: 100%;
		height: 270px;
		border-bottom: 2px solid #f2f2f2;

		div.content {}

		&:first-child {
			border-top: 2px solid #f2f2f2;
		}

		// TODO Make this work!
		&:last-child {
			// border-bottom: none;
			border: 4px solid red;
		}
	}
}

div.horizontal-context {
	float: right;
	z-index: 10;
	top: 40%;
	margin-top: -125px;
	margin-bottom: 500px;
	height: 100%;
	width: 100%;
	left: 58.59375%;
	position: fixed;
}

div.chevron {
	z-index: 10;
	position: fixed;
	top: 35.6%;
	font-size: 3em;		
	cursor: pointer;
	color: white;
	&:hover {
		color: black;
	}
}

div.chevron-left {
	left: 20px;
}

div.chevron-right {
	position: fixed;
	right: 20px;
}

section.narrative-section {
	cursor: pointer;
	float: left;
	display: inline-block;
	padding: 0 15px;
	background-color: #C7C4C1;


	&.selected {
		background-color: #f3f3f2;
	}

	div.title, div.content {
	}

	div.title {
		margin-top: 5px;
		margin-left:10px;
		margin-right:15px;
		font-weight: 600;
	}

	div.content {
		margin-top: 10px;
		margin-left:10px;
		margin-right:15px;
		&.minimized {
			height: 0;
			display: none;
		}
	}

	div.size-icons {
		margin-top: 15px;
		height: 0;
		position: relative;

		div.size-icon {
			float: right;
			margin-top: -10px;
			margin-right: -5px;
			cursor: pointer;
			&.hidden {
				display: none;
			}
		}
	}
}

section.horizontal-narrative-section {
	position: absolute;
	width: 29.6875%;
	background-color: #1C1D1D;
	color: #f3f3f2;
	opacity: 0.5;
	display: none;

	div.content {
		margin-top: 0px;
	}

	div.caption {
		font-size: 12px;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	// &:last-child {
	// 	left: -73.6% !important;
	// 	display: inline-block;
	// }

	&:first-child {
		left: 0%;
		opacity: 1.0;
		display: inline-block;
	}

	&:nth-child(2) {
		left: 32.825%;
		display: inline-block;
	}
}
